*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
#container{
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.image{
    width: 50%;
    height: 500px;
    border-radius: 31px;
}
.contentRight{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
}

.card{
    display: flex;
    width: 100%;
    gap: 30px;
    background-color: aliceblue;
    border-radius: 31px;
}
.back{
    padding: 10px 10px;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    border-radius: 31px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    border: 1px solid grey;

}
.back:hover{
    transform: scale(1.03);
    color: grey;
}
.containsInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    padding: 10px;
    border-radius: 31px;
    border: 1px solid grey;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    background-color: greenyellow;
    margin-top: 50px;
    width: 90%;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    transform: scale(1.03);
    color: grey;
}
h2{
 max-width: 400px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
h3{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen and (min-width: 2300px) {
    #container{
        padding: 10px 530px;
    }
  
}